---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "我的 Astro 学习博客";
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          {allPosts.map((post) => (
            <BlogPosts url={post.url} title={post.frontmatter.title} />
          ))}
        </li>
      ))
    }
  </ul>
</BaseLayout>
